.top {
  min-height: 70%;
  background-color: white;

  p {
    margin-top: 3%;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  h2 {
    font-size: 30px;
    margin-left: 10px;
  }
  .continents {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
      width: 15%;
    }

    button {
      background-color: #769abe;
      color: white;
      border-radius: 5px;
      padding: 3px;
      border-style: none;
    }
  }
}
